<div class="col-md-10 col-md-offset-1 text-center">
                <h2>ABOUT</h2>
            </div>
       
        <div class="row">
            <div class="col-md-4 col-md-offset-4 aboutPic">
                <img src="/img/evan.jpg" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-right">
                <p>
                    <br>Each and every bar is packed with natural exfoliants such as Poppy Seeds, Corn Meal, or Blueberry Seeds.</p>
                <p>
                    For safe traveling, the Wanderer likes to package their soaps in burlap and then label them with a finished wax seal to know what they have! </p>
            </div>
        </div>