<div class="col-md-10 col-md-offset-1 text-center">
  <h2>CONTACT INFORMATION</h2>
  <h3> Address: 300 Attrium Drive Somerset NJ</h3>
  <h3>Phone Number: 1 (800) 888-0216 </h3>
  <form>
  	<div class="form-group">
	    <label for="contactName">Name</label>
	    <div></div>
	    <input type="name" class="form-control" id="contactName" placeholder="John Smith">
  	</div>
  	<div class="form-group">
    	<label for="contactEmail1">Email address</label>
   	 <input type="email" class="form-control" id="contactEmail" placeholder="Email">
  	</div>
  	<div class="form-group">
   	 <label for="contactMessage">Email address</label>
   	 <input type="message" class="form-control" id="contactMessage" >
  	</div>
  </form>


</div>