<div class="col-md-10 col-md-offset-1 text-center">
    <h3>Adventure. Explore. Wander.</h3>
    <h5>Homemade Goats Milk Soap | Shave Soap | Beard Balm  Scrubs</h5>
                <br>
                <br>
    <span class="titleHome"></span>
                <br>
                <br>
</div>