{{!-- <div class="col-md-10 col-md-offset-1 text-center">
    <h3>Adventure. Explore. Wander.</h3>
    <h5>Homemade Goats Milk Soap | Shave Soap | Beard Balm  Scrubs</h5>
                <br>
                <br>
    <span class="titleHome"></span>
                <br>
                <br>
</div> --}}


<div class="col-md-10 col-md-offset-1 text-center">
                <h2>PRODUCTS</h2>
                <br>
                <!-- row 1 -->
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="productInfo.html">
                            <img src="/img/tobaccovanSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName"> <strong>Tobacco & Vanilla </strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/peppermintSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Peppermint & Tea Tree Oil </strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/bachelorSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Bachelor </strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                </div>
                <!-- row 2 -->
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/sandalwoodbourbonSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Sandalwood Bourbon</strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/beardbalmSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Beard Balm</strong>
                        </div>
                        <div class="productPrice">$11</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/tobaccocandleSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName"><strong>Tobacco & Vanilla</strong>
                            <br>Soy Candle</div>
                        <div class="productPrice">$10</div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/shavesoapsetSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Shaving Soap Set</strong>
                        </div>
                        <div class="productPrice">$16</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/crate.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Wanderers Crate</strong></div>
                        <div class="productPrice">$100</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/explorerscrate.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Explorers Crate</strong></div>
                        <div class="productPrice">$60</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="/img/adventurecrateSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Adventurers Crate</strong>
                        </div>
                        <div class="productPrice">$35</div>
                        <br>
                    </div>
                    <!--                     <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong></strong></div>
                        <div class="productPrice"></div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong></strong></div>
                        <div class="productPrice"></div>
                    </div> -->
                </div>
            </div>