<div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <br>
                    <br>
                    <div class="col-md-5 col-md-offset-1">
                        <img src="/img/tobaccovan.jpg" width="100%">
                    </div>
                    <div class="col-md-5">
                    <div class="info">
                        <h4>Tobacco and Vanilla </h4>
                        <h5>Goat's Milk Soap</h5>
                        <h6>$6</h6>
                        <p>The smell of fresh cut tobacco leaves with an undertone of vanilla. Fresh vanilla with a dark background. Not the smell of dried or roasted tobacco leaves that would be in a cigar/cigarette/pipe.</p>
                        <p><strong>Materials:</strong> Coconut Oil, Palm Oil, Safflower Oil, Purified Water, Glycerin, Goat's Milk, Sodium Hydroxide, Sorbitol, Sorbitan Oleate, Oat Protein, Titanium Dioxide, Poppy Seeds</p>
                        </div>
                        <div class="row text-right">
                            <div class="col-md-6 text-right col-md-offset-1">
                                <select class="form-control text-right" id="">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button class="btn" id="addCart">
                                    <h6>ADD TO CART</h6></button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>