    <script type="text/javascript">

    var input = document.getElementById('searchTextField');
    var options = {
        componentRestrictions: {
            country: 'us'
        }
    };

    new google.maps.places.Autocomplete(input, options);
    </script>

<div class="col-md-10 col-md-offset-1 text-center">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">LOGIN</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">REGISTER</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="/api/signin" method="POST" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control alert" placeholder="Password">
                                    </div>
                                    <!--             <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div> -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login" id="login" tabindex="4" class="form-control btn" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                   <!--  {{!-- <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}} -->
                                </form>
                                <form id="register-form" action="/api/signup" method="POST" role="form" style="display: none;">

                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm_password" id="confirm_password" onkeyup="validatePassword(); return false;"tabindex="2" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" id="searchTextField" tabindex="2" class="form-control" placeholder="Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="zip" id="zip" tabindex="2" class="form-control" placeholder="Zip Code" value="">
                                    </div>{{!-- 
                                     <div class="form-group">
                                        <input type="text" name="address" id="email" tabindex="1" class="form-control" placeholder="City" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" id="email" tabindex="1" class="form-control" placeholder="State" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address" id="email" tabindex="1" class="form-control" placeholder="Zip Code" value="">
                                    </div> --}}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register" id="register" tabindex="4" class="form-control btn" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <a href="/login/twitter">Sign in with Twitter!</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script type="text/javascript">
$('#zipCode').keyup(function () { 
    this.value = this.value.replace(/[^0-9\.]/g,'');
    limitText(this, 5)
});

$('#zipCode').on('keyup', function() {
    limitText(this, 5)
});

function limitText(field, maxChar){
    var ref = $(field),
        val = ref.val();
    if ( val.length >= maxChar ){
        ref.val(function() {
            console.log(val.substr(0, maxChar))
            return val.substr(0, maxChar);       
        });
    }
}



jQuery.validator.addMethod( 'passwordMatch', function(value, element) {
    
    // The two password inputs
    var password = $("#password").val();
    var confirmPassword = $("#confirm_password").val();

    // Check for equality with the password inputs
    if (password != confirmPassword ) {
        return false;
    } else {
        return true;
    }

}, "Your Passwords Must Match");



// ==========================================================================
// Registration Form : jquery validation
// http://jqueryvalidation.org/validate

$('#register-form').validate({
    // rules
    rules: {
        register_password: {
            required: true,
            minlength: 3
        },
        register_pass_confirm: {
            required: true,
            minlength: 3,
            passwordMatch: true // set this on the field you're trying to match
        }
    },

    // messages
    messages: {
        register_password: {
            required: "What is your password?",
            minlength: "Your password must contain more than 3 characters"
        },
        register_pass_confirm: {
            required: "You must confirm your password",
            minlength: "Your password must contain more than 3 characters",
            passwordMatch: "Your Passwords Must Match" // custom message for mismatched passwords
        }
    }
});//end validate
    </script>