    body {
        width: 100%;
        background-color: white;
        color: #453B32;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .btn {
        background-color: #716152;
    }
    
    .btn {
        color: white;
    }
    
    .links {
        background-color: #716152;
        border-radius: 5px;
        color: white;
        padding: 5px;
        font-family: 'Sanchez', serif;
    }
    
    .links a {
        color: white;
        padding: 15px;
    }
    
    .links a:hover {
        color: white;
    }
    
    .topLinks {
        padding-top: 20px;
        font-family: 'Sanchez', serif;
    }
    
    a {
        color: #453B32;
        font-family: 'Sanchez', serif;
    }
    
    a:hover {
        color: #453B32;
        text-decoration: none;
    }
    
    .content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .footer {
        border-bottom: 1px solid #9b9085;
        border-top: 1px solid #9b9085;
        padding: 15px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Sanchez', serif;
        font-weight: bold;
    }
    
    .picHome {
        padding: 0;
        margin: 0;
    }
    /**/
    /* products.handlebars */
    
    .productName {
        padding-top: 5px;
    }
    /**/
    /* about.handlebars */
    
    .aboutPic {
        padding: 20px;
    }
    /**/
    /* productInfo.handlebars*/
    
    .form-control {
        /*box-shadow: none;*/
        border: none;
    }
    
    .info {
        border-bottom: 1px solid #716152;
        margin-bottom: 15px;
    }
    /**/
    /* login.handlebars */
    
    .form {
        background: rgba($form-bg, .9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: $br;
        box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
    }
    
    .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba($gray-light, .25);
            color: $gray-light;
            font-size: 20px;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            transition: .5s ease;
            &:hover {
                background: $main-dark;
                color: $white;
            }
        }
        .active a {
            background: $main;
            color: $white;
        }
    }
    
    .tab-content > div:last-child {
        display: none;
    }
    
    h1 {
        text-align: center;
        color: $white;
        font-weight: $thin;
        margin: 0 0 40px;
    }
    
    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        color: rgba($white, .5);
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        .req {
            margin: 2px;
            color: $main;
        }
    }
    
    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        .req {
            opacity: 0;
        }
    }
    
    label.highlight {
        color: $white;
    }
    
    input,
    textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid $gray-light;
        color: $white;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
        &:focus {
            outline: 0;
            border-color: $main;
        }
    }
    
    textarea {
        border: 2px solid $gray-light;
        resize: vertical;
    }
    
    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }
    
    .top-row {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        > div {
            float: left;
            width: 48%;
            margin-right: 4%;
            &:last-child {
                margin: 0;
            }
        }
    }
    
    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: $main;
        color: $white;
        transition: all.5s ease;
        -webkit-appearance: none;
        &:hover,
        &:focus {
            background: $main-dark;
        }
    }
    
    .button-block {
        display: block;
        width: 100%;
    }
    
    .forgot {
        margin-top: -20px;
        text-align: right;
    }
    /**/
    /* signin.handlebars */
    
    label {
        color: #453B32;
    }
    
    .panel-login>.panel-heading {
        color: #453B32;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }
    
    .panel-login>.panel-heading a {
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    
    .panel-login>.panel-heading a.active {
        color: #453B32;
        font-size: 18px;
    }
    
    .panel-body,
    form {
        background-color: white;
    }
    
    .panel-login input[type="text"],
    .panel-login input[type="email"],
    .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #453B32;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    
    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #453B32;
    }
    
    .btn-login {
        background-color: #453B32;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
    }
    
    .forgot-password {
        text-decoration: underline;
        color: #453B32;
    }
    
    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #453B32;
    }
    
    .btn-register {
        background-color: #453B32;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
    }
    
    div.panel-body {
        border: none;
    }
    /**/
    /* cart.handlebars */
    /*td.cartName, .cartPrice, .cartQty, .cartRemove {
    vertical-align: middle;
}*/
    
    .table td {
        text-align: center;
    }
    
    td {
        vertical-align: bottom;
    }
