body { background: url(../images/pizzaBG.jpg);
           background-size:110em;
     }

h1, h2, h3, h4, h5, h6, li{
	font-family: 'Lobster', cursive;
}

button {
	font-family: 'Raleway', sans-serif;
	font-size:0.7em;
	margin:3px 0;
}

.btnRed { 
	background-color: #A41409;
	color: #fff;

}
.addPizza {
	position:relative;
	top:10em;
	background-color:#FFFF00;
	width:20%;
	margin:5% 40%;
	border-radius: 10%;
}
.leftBox {
	float:left;
}
.rightBox {
	float:right;
}
.box {
	margin:5% 5%;
	width:30%;
	border-radius: 10%;
	background-color: #EAEBe3;
}
h1 {
	color:#fff;
	font-size:4em;
}


li {
	text-decoration: none;
  font-size:1.3em;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 15px;
}



/*---------------pizza icon ---------------*/

.icon {
  position: fixed;
  left: 50%;
  top: 20%;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background: linear-gradient(to bottom, #FF0000 0%, #FF4D4D 80%);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.crust {
  position: absolute;
  left: calc(40% + 8px);
  top: 18px;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #cc9900;
  radius: 3em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  width: 52px;
  height: 7px;
  
}
.cheese {
  position: absolute;
  left: calc(40% + 8px);
  top: 45px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 25px 0 25px;
  border-color: #FFFF00 transparent transparent transparent;
}

.one {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 25px;
  bottom: 40px;
}

.two {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 40px;
  bottom: 35px;
}

.three {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 30px;
  bottom: 22px;
}

.pepperoni {
  background: linear-gradient(to bottom, #cc0000 0%,#ff0000 80%);
  border-radius: 100%;
}
